.sobre{
    /* background-color: blue; */
    width: 80%;
    margin: auto;
    text-align: center;
    h1{
        font-size: 29px;
        margin: 18px ;
    }
}
.nome h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.experiencia{
    padding: 20px 0;
}
.experiencia h1{
    font-size: 29px;
    font-weight: 500;
}
.cardExperiencia{
    background-color: #F8F8F8;

    text-align: start;
    color: black;
    padding: 30px;
    border-radius: 10px;
    margin: 23px 0;

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);

}
.cardExperiencia h3{
    font-size: 20px;
    font-weight: 600;
}
.cardExperiencia h4{
    padding: 20px 0;
}
.cardExperiencia p{
    padding: 20px 0;
}
.Educacao h1{
    font-size: 29px;
    font-weight: 500;
}
.cardEducacao{
    background-color: #F8F8F8;
    color: black;

    text-align: start;

    padding: 30px;
    border-radius: 10px;
    margin: 23px 0;

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);

}
.cardEducacao h4{
    padding: 20px 0;
}
.cardEducacao p{
    padding: 20px 0;
}
@media screen and (max-width: 767px) {
    .sobre{
        width: calc(100% - 20px);
        margin: 10px;
        
    }
    .nome{
        text-align: center;
    }

}